extends layout

block content
	.jumbotron
		h1.text-center Welcome to BookTrader
		p Share your books with others and look out for books that you want to read. Trade books and Keep reading !!

	blockquote
		p A room without books is like a body without a soul.
		footer Marcus Tullius Cicero

	blockquote
		p Good friends, good books, and a sleepy conscience: this is the ideal life.
		footer Mark Twain

	blockquote
		p Sometimes, you read a book and it fills you with this weird evangelical zeal, and you become convinced that the shattered world will never be put back together unless and until all living humans read the book.
		footer John Green, 
			cite The Fault in Our Stars

	blockquote
		p I find television very educating. Every time somebody turns on the set, I go into the other room and read a book.
		footer Groucho Marx

			

	
